.App {
  text-align: center;
  background-color: var(--color-dark);        /* Main background */
  color: var(--color-bright);                 /* Global text color */
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img.profile-pic {
  display: block;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}



 

 